{# src/Augustine/PlatformBundle/Resources/views/Advert/history.html.twig #}

{% extends "AugustinePlatformBundle::layout.html.twig" %}

{% block title %}
    Historique -{{ parent() }}
{% endblock %}

{% block augustineplatform_body %}

    <div id="about" >
        <div class="container">
            <div class="row text-center">
                <div class="col-lg-8 col-lg-offset-2 col-md-8 col-md-offset-2 col-sm-8 col-sm-offset-2 sub-head">
                    <h2  data-wow-delay="0.9s" class="wow rollIn animated" ><strong>Historique </strong></h2>
                    <!--<p class="sub-head">Un peu de news... </p>-->
                </div>
            </div>
            <div class="row ">
                <div class="media wow rotateIn animated" data-wow-delay="0.2s">
                    {% for histo in histo %}
                        {%if true == histo.isHisto %}
                            <div class="col-lg-3 col-md-3 col-sm-3">

                                <article>
                                    <header>
                                        <h2>{{ histo.titre }}</h2> 
                                        <h5>{{ histo.nomRessource }}, relatant du : {{ histo.dateActu|date('d M Y') }}</h5>
                                    </header>
                                    <div class="content">
                                        <p>
                                            {{ histo.texte }}
                                        </p>
                                        <time>paru le, {{ histo.dateCrea|date('d M Y') }}</time>
                                    </div>
                                </article>      
                            </div>
                        {% endif %}
                    {% endfor %}
                </div>
            </div>

        </div>
    </div>

    <a href="{{ path('augustine_platform_home') }}" class="btn btn-default">
        Retour à l'acceuil
    </a>

{% endblock %}