{# src/Augustine/PlatformBundle/Resources/views/Advert/history.html.twig #}

{% extends "AugustinePlatformBundle::layout.html.twig" %}

{% block title %}
    Historique -{{ parent() }}
{% endblock %}

{% block augustineplatform_body %}

    <div id="about" >
        <div class="container">
            <div class="row text-center">
                <div class="col-lg-8 col-lg-offset-2 col-md-8 col-md-offset-2 col-sm-8 col-sm-offset-2 sub-head">
                    <h2  data-wow-delay="0.9s" class="wow rollIn animated" ><strong>Historique </strong></h2>
                    <!--<p class="sub-head">Un peu de news... </p>-->
                </div>
            </div>
            <div class="row ">
                <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                            {% for histo in histo %}
                                {% if true == histo.isHisto %}
                                    <div class="panel panel-default">
                                        <div class="panel-heading" role="tab" id="heading{{histo.id}}">
                                            <h4 class="panel-title">
                                                <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse{{histo.id}}" aria-expanded="false" aria-controls="collapse{{histo.id}}">
                                                    Titre : {{ histo.titre }} | Type : {{ histo.nomRessource }} | Paru le : {{ histo.dateCrea|date('d M Y') }}<a href="{{ path("augustine_platform_voir", { id: histo.id  }) }}" title="{{ histo.titre }}"> | Agrandir</a>
                                                 </a>
                                            </h4>
                                        </div>
                                    </div>
                                    <div id="collapse{{histo.id}}" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading{{histo.id}}">
                                        <div class="panel-body">
                                            {{ histo.texte }}
                                        </div>
                                    </div>
                                {% endif %}
                            {% endfor %}
                        </div>
            </div>

        </div>
    </div>

    <a href="{{ path('augustine_platform_home') }}" class="btn btn-default">
        Retour à l'acceuil
    </a>

{% endblock %}