{# src/Augustine/PlatformBundle/Resources/views/Sponsor/index.html.twig #}

{% extends "layout.html.twig" %}

{% block title %}
    {{ parent() }} - Sponsors
{% endblock %}

{% block augustineplatform_body %}

    <!--./ SPONSOR SECTION -->
    <div id="sponsor">
        <div class="container">
            <div class="row">
                <div class="box">
                    <div class="col-md-12 col-lg-12">
                        <hr>
                        <h2 class="intro-text text-center">
                            <strong>SPONSORS</strong>
                        </h2>
                        <hr>
                        <div class="col-sm-3 col-md-3 col-lg-3">
                            <img src="{{asset('bundles/augustineplatform/img/sponsor/Advixys.jpg')}}" class="img-responsive" alt="" />
                        </div>
                        <div class="col-sm-3 col-md-3 col-lg-3">
                            <img src="{{asset('bundles/augustineplatform/img/sponsor/Decathlon.jpg')}}" class="img-responsive" alt="" />
                        </div>
                        <div class="col-sm-3 col-md-3 col-lg-3">
                            <img src="{{asset('bundles/augustineplatform/img/sponsor/Eauridis.jpg')}}" class="img-responsive" alt="" />
                        </div>
                        <div class="col-sm-3 col-md-3 col-lg-3">
                            <img src="{{asset('bundles/augustineplatform/img/sponsor/Kartland.jpg')}}" class="img-responsive" alt="" />
                        </div>
                    </div>
                    <a href="{{ path('index') }}" class="btn btn-default">Retour à l'acceuil</a>
                </div>
            </div>
        </div>
    </div>
    <!--./ SPONSOR SECTION END -->



{% endblock %}