{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Actualite</h1>

    <table class="record_properties">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ entity.id }}</td>
            </tr>
            <tr>
                <th>Titre</th>
                <td>{{ entity.titre }}</td>
            </tr>
            <tr>
                <th>Texte</th>
                <td>{{ entity.texte }}</td>
            </tr>
            <tr>
                <th>Dateactu</th>
                <td>{{ entity.dateActu|date('Y-m-d H:i:s') }}</td>
            </tr>
            <tr>
                <th>Datecrea</th>
                <td>{{ entity.dateCrea|date('Y-m-d H:i:s') }}</td>
            </tr>
            <tr>
                <th>Ishisto</th>
                <td>{{ entity.isHisto }}</td>
            </tr>
            <tr>
                <th>Nomressource</th>
                <td>{{ entity.nomRessource }}</td>
            </tr>
        </tbody>
    </table>

        <ul class="record_actions">
    <li>
        <a href="{{ path('actualite') }}">
            Back to the list
        </a>
    </li>
    <li>
        <a href="{{ path('actualite_edit', { 'id': entity.id }) }}">
            Edit
        </a>
    </li>
    <li>{{ form(delete_form) }}</li>
</ul>
{% endblock %}
