{# src/Augustine/PlatformBundle/Resources/views/Actualite/ajouter.html.twig #}

{% extends "layout.html.twig" %}

{% block title %}
    {{ parent() }} - Ajouter
{% endblock %}

{% block augustineplatform_body %}
    <div id="ajouter">
        <div class="container">
            <div class="row">
                <div class="box">
                    <div class=" col-md-12 col-lg-12 text-center">
                        <hr>
                        <h2 class="intro-text text-center">
                            <strong>Ajouter une actualité</strong>
                        </h2>
                        <hr>
                        <div class="col-md-4 col-lg-4">
                            <img class="img-responsive" src="{{asset('bundles/augustineplatform/img/Challenge/grp.jpg')}}" alt="">
                        </div>
                        <div class="form-group col-md-8 col-lg-8" id="accordion" role="tablist" aria-multiselectable="true">
{#                            <form action="{{ path ('ajouter') }}" method ="post">#}
                                {{ form_start(form) }}
                                <div class="form-group col-md-6 col-lg-6">
                                    {{ form_row(form.titre, {'attr':{'class':'form-control'}})}}
                                </div>
                                <div class="form-group col-md-6 col-lg-6">
                                    {{ form_row(form.dateActu)}}
                                </div>
                                <div class="form-group col-md-12 col-lg-12">
                                    {{ form_row(form.texte, {'attr':{'class':'form-control'}})}}
                                </div>
                                <div class="form-group col-md-4 col-lg-4">
                                    {{ form_row(form.isHisto,{'label':"Dans l\'historique ? :"}, {'attr':{'class':'checkbox'}}) }}
                                </div>
                                <div class="form-group col-md-4 col-lg-4">
                                    {{ form_row(form.typeActu, {'attr':{'class':'form-control'}})}}
                                </div>
                                <div class="form-group col-md-4 col-lg-4">
                                    {{ form_widget(form)}}
                                </div>
                                <div class="form-group col-md-4 col-lg-4">
                                    {{ form_row(form.file, {'attr':{'class':'form-control'}})}}
                                </div>
                                <div class="form-group col-md-12 col-lg-12">
                                    <input type="submit" class="btn btn-default">
                                    <input type="reset" class="btn btn-warning">
                                </div>
                                {{ form_end(form) }}
{#                            </form>#}
                        </div>
                    </div>
                    <a href="{{ path('index') }}" class="btn btn-default">Retour à l'acceuil</a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}